.header{
    background: rgb(10, 2, 48);
    height:60px;
    .title{
        color:rgb(243, 241, 241);
        padding: 10px;
        text-align: center;
        font-size: xx-large;
        font-weight: bold;
        font-family: Georgia, 'Times New Roman', Times, serif;
        text-shadow: header;
    }
}